@import "react-select";

html {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.toolbar svg {
  fill: #9E9E9E !important;
}

.search-result-card {
  height: 300px;
  width: 172px;
  float: left;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #e5e5e5;
}

.add-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.search-result-content {
  margin: 5px;
  max-height: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
  line-height: 18px;
}
.search-result-content:hover {
  text-decoration: underline;
}

.search-result-overlay {
  opacity: 0;
  transition: all .25s ease;
  background: rgba(0,0,0,0.4);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.search-result-overlay:hover {
  opacity: 1;
}
.search-result-image-container {
  height: 245px;
  position: relative;
}

.search-result-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.search-result-loader {
  text-align: center;
  clear: both;
}

.search-result-heading {
  margin-left: 5px;
}

.search-box-container {
  width: 300px;
}

.start-page .search-box-container {
  background-color: #fff;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
}

.book-content {
  width: 100%;
  max-width: 720px;
  margin: auto;
  margin-top: 25px;
}

.book-image-section {
  float: left;
  width: 200px;
}

.book-info-section {
  overflow: hidden;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.book-details-section {
  margin-left: 200px;
  padding: 25px;
}

.book-image {
  width: 100%;
}

.book-title {
  font-weight: normal;
  font-size: 30px;
}

.book-other-content {
  padding: 25px;
}

.country-select {
  width: 100%;
}

.preview-container {
  padding-bottom: 25px;
}

.collections-content {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.collection {
  padding: 15px;
}


@media (max-width: 450px) {
  .start-page {
    .search-box-container.focused.hasValue {
      position: fixed;
      top: 0;
      overflow: auto;
      height: 100%;
      width: 100%;
    }
  }

  .book-image-section {
    float: none;
    margin: auto;
  }
  .book-details-section {
    margin-left: 0;
    padding: 25px;
  }
}


