html {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.search-result-card {
  height: 300px;
  width: 172px;
  float: left;
  margin: 5px;
  cursor: pointer;
}
.search-result-content {
  margin: 5px;
  max-height: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
  line-height: 18px;
}
.search-result-content:hover {
  text-decoration: underline;
}

.search-result-overlay {
  opacity: 0;
  transition: all .25s ease;
  background: rgba(0,0,0,0.4);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.search-result-overlay:hover {
  opacity: 1;
}
.search-result-image-container {
  height: 245px;
  position: relative;
}

.search-result-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.search-result-loader {
  text-align: center;
  clear: both;
}

.search-result-heading {
  margin-left: 5px;
}

.search-box-container {
  width: 300px;
  background-color: #fff;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
}

@media (max-width: 450px) {
  .search-box-container.focused.hasValue {
    position: fixed;
    top: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
  }
}
