html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 13px;
  line-height: 20px;
}

.search-result-card {
  height: 162px;
  width: 126px;
  float: left;
  margin: 5px;
}
.search-result-content {
  margin: 10px;
}
