html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 13px;
  line-height: 20px;
}

.search-result-card {
  height: 270px;
  width: 172px;
  float: left;
  margin: 5px;
}
.search-result-content {
  margin: 10px;
}

.search-result-image {
  width: 152px;
  height: 196px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.search-result-loader {
  text-align: center;
  clear: both;
}

.search-result-heading {
  margin-left: 5px;
}
